.grid-container {
    display: grid;
    grid-gap: 15px 15px;
}

#top {
    grid-area: top;
    font-size: 20px;
}

#content {
    grid-area: content;
    margin: 0 15px;
}

#bottom {
    grid-area: bottom;
    font-size: 16px;
    padding-left: 15px;
    background-color: #0074D9;
    color: white
}

.grid-container-basic-template {
    grid-template-columns: auto;
    grid-template-rows: 50px auto 20px;
    grid-template-areas: 'top' 'content' 'bottom';
    grid-row-gap: 0;
    height: 100vh;
}


