@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face
{
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body {
    font-family: "Roboto-Regular", sans-serif !important;
    background-image: url(#{request.contextPath}/resources/images/city.jpg) !important;
    background-size: cover !important;
    filter: alpha(20%);
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    font-size: 12px;
    margin: 10px
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.float-container {
    overflow: hidden;
}

.boxed {
    overflow: hidden;
    display: inline-block;
}

.margin2px {
    margin: 2px;
}

.padding2px {
    padding: 2px;
}

.padding4px {
    padding: 4px;
}

.padding6px {
    padding: 6px;
}

.full-width {
    width: 100%;
}

.marginAuto {
    margin: auto;
}
