@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face
{
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body {
    font-family: "Roboto-Regular", sans-serif !important;
    font-size: 12px;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.btn-primary {
    background-color: #7FDBFF;
    color: #001f3f;
}

.btn-primary:hover {
    background-color: #7FDBFF;
    color: white;
}

.float-container {
    overflow: hidden;
}

.float-right {
    float: right;
}

.boxed {
    overflow: hidden;
    display: inline-block;
}

.margin2px {
    margin: 2px;
}

.padding2px {
    padding: 2px;
}

.padding4px {
    padding: 4px;
}

.padding6px {
    padding: 6px;
}

.full-width {
    width: 100%;
}

.marginAuto {
    margin: auto;
}

.new-transaction {
    background-color: lightgreen;
    color: white;
}

.new-bankAccount {
    background-color: lightgreen;
    color: white;
}
